extends layout

include mixins/crearProyecto

block contenido
	.contenido-principal
		//- -var nombrePagina  = arregloVariables.nombrePagina;
		//- -var errores = arregloVariables.errores;

		h1 #{nombrePagina}
		
		pre=vardump(proyecto)

		if errores
			each error in errores
				.alerta.error=error.texto
			
		+crearProyecto(proyecto)
		

